.prose .sidebar {
  @apply float-right clear-right ml-4 mr-0 mb-4;
  width: 30%;

  border-radius: 0.2rem;
  background-color: var(--color_bg-prose_sidebar);
  border: var(--border-prose_sidebar);

  > * {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  /* Lists need additional padding, because bullets. */
  > ul,
  > ol {
    padding-left: 2.2rem;
  }

  .sidebar-title {
    @apply mb-3 mx-0 mt-0 px-4 py-2;
    border-bottom: var(--border-prose_sidebar_title);

    font-weight: 500;
  }
}
