.prose {
  .table-wrapper {
    width: 100%;
    overflow-x: auto;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    padding: 0.2rem 0.2rem 0.75rem;
  }
  table.docutils {
    @apply rounded border-collapse shadow shadow-transparent;
    border-spacing: 0;
    --tw-shadow-color: var(--shadow-table);

    th {
      background: var(--color_bg-table-header);
    }
    td,
    th {
      /* Space things out properly */
      padding: 0 0.25rem;

      /* Get the borders looking just-right. */
      border-left: 1px solid var(--border-table);
      border-right: 1px solid var(--border-table);
      border-bottom: 1px solid var(--border-table);

      p {
        margin: 0.25rem;
      }

      &:first-child {
        border-left: none;
      }
      &:last-child {
        border-right: none;
      }
    }
    tr:first-child {
      border-top: 1px solid var(--border-table);
    }
  }
}
