/*
  HACK: Always having the scrollbar visible, prevents certain browsers from
  causing the content to stutter horizontally between taller-than-viewport and
  not-taller-than-viewport pages.
*/
html {
  overflow-x: hidden;
  overflow-y: scroll;
}

/*
  HACK: Elements with relative or absolute position seem to be above
  in the render stack, despite being on an element that is below the
  overlay/sidebar. Instead of dealing with this properly, the header has
  a z-index of 30 and these elements (sidebars + sidebar-overlays) have
  *slightly* higher z-indexes; such that they are always above the main
  content.
*/
.sb-sidebar-primary,
.sb-sidebar-overlay[for="sb-sidebar-toggle--primary"] {
  z-index: 35;
}
.sb-sidebar-secondary,
.sb-sidebar-overlay[for="sb-sidebar-toggle--secondary"] {
  z-index: 34;
}

.sb-article-container,
.sb-footer-content__inner {
  width: 100vw;
}

@media (min-width: 42rem) {
  .sb-article-container,
  .sb-footer-content__inner {
    width: auto;
  }
}

/* Deal with the consequences of allowing collapsing primary sidebar */
#lutra-site-navigation-collapse-icon {
  display: none;
}
@media (min-width: 59rem) {
  .sb-sidebar-secondary {
    z-index: unset;
  }
}
@media (min-width: 67rem) {
  .collapsed-site-navigation {
    .match-content-width,
    [role="main"] {
      transition: width 150ms ease;
      width: 50rem;
    }
    .sb-footer-content__inner,
    &.drop-secondary-sidebar-for-full-width-content [role="main"],
    &.drop-secondary-sidebar-for-full-width-content .match-content-width {
      width: 67rem;
    }
  }
}
@media (min-width: 76rem) {
  .sb-sidebar-primary {
    z-index: unset;
  }
  #lutra-site-navigation-collapse-icon {
    display: block;
  }
}
