<a href="#" class="back-to-top">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    <path d="M13 20h-2V8l-5.5 5.5-1.42-1.42L12 4.16l7.92 7.92-1.42 1.42L13 8v12z"></path>
  </svg>
  <span>{% trans %}Back to top{% endtrans %}</span>
</a>
{#- Coupled with sections/sidebar-secondary.html -#}
{% if not (lutra_hide_toc and not theme_sidebar_links) -%}
<div class="toc-toggle-container hide-when-secondary-sidebar-shown">
  {% include "components/toggle-sidebar-secondary.html" %}
</div>
{%- endif %}
