<div class="header-container">
  {% block header_content %}
  {% include "partials/header/sidebar-collapse.html" with context %}
  {% include "partials/header/logo.html" with context %}
  {% include "partials/header/variant-selector.html" with context %}
  {% include "partials/header/spacer.html" with context %}
  {% include "partials/header/icons.html" with context %}
  {% include "partials/header/theme-toggle.html" with context %}
  {% include "partials/header/search.html" with context %}
  {% endblock header_content %}
</div>
