<div class="page-navigation-container sidebar-sticky">
  <div class="sidebar-scroll">
    <div class="sidebar-link-container">
      <span id="searchbox"></span>
      {%- if theme_sidebar_links -%}
        {%- for link in theme_sidebar_links -%}
          <a href="{{ link['href'] }}" alt="{{ link['alt']|e }}">{{ _(link['text'])|e }}</a>
        {%- endfor %}
      {%- endif %}
    </div>
    {% if not lutra_hide_toc %}
    <div class="toc-container">
      <p class="page-navigation-prompt">{{ _("On this page") }}</p>
      {{ toc }}
    </div>
    {% endif %}
    {% if READTHEDOCS %}
    <div
      id="lutra-sidebar-ad-placement"
      class="flat"
      data-ea-publisher="readthedocs"
      data-ea-type="readthedocs-sidebar"
      data-ea-manual="true"
    ></div>
    {% endif %}
  </div>
</div>
