.sb-header {
  @apply sticky top-0;
  @apply backdrop-blur;
  z-index: 30;
  background: var(--color_bg-header);
}

.header-container {
  @apply h-12 px-2 flex items-center gap-4;
  .sb-header & {
    @apply h-16;
  }
}

.header-logo-container {
  @apply flex items-center gap-4;
}
.header-logo {
  @apply h-10;
}

.header-title {
  @apply text-2xl leading-none font-bold h-full mx-0 relative flex items-center;
}

.sb-header-article {
  @apply sticky top-16;
  @apply z-10;

  background: linear-gradient(
    to bottom,
    var(--color_bg) 90%,
    var(--color_bg--transparent)
  );
}

.sb-header-secondary {
  @apply flex border-b;
  z-index: 29;
  background: var(--color_bg-header);
  border-bottom-color: var(--border-header_bottom);
}

.lutra-tabs {
  @apply text-sm flex h-full;

  li {
    @apply opacity-60 h-full;

    a {
      @apply flex items-center h-full px-2;
    }

    &:hover {
      @apply opacity-100;
    }

    &.current {
      @apply opacity-100;
    }
  }
}

/* Handle sticky tops to align with the header */
.sidebar-sticky {
  @apply sticky top-16;
}
.sticky-secondary-header {
  .sb-header-secondary {
    @apply sticky top-16;
  }
  .sb-header-article,
  .sidebar-sticky {
    @apply sticky top-28;
  }
  .back-to-top {
    @apply top-40;
  }
}
