/* Search Page */
.search-form {
  @apply rounded relative;

  [role="main"] & {
    @apply mb-4;
  }

  input[type="text"] {
    @apply block pl-9;
  }

  &::before {
    @apply absolute h-4 w-4 top-3 left-3;
    content: "";
    background-color: var(--color_text-search);
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z'/%3E%3C/svg%3E");
    mask-repeat: no-repeat;
    z-index: 3;
  }

  &:focus-within {
    .search-guidance {
      @apply visible;
    }
    &::before {
      background-color: var(--color_text-search--focus);
    }
  }
  .search-guidance {
    @apply absolute w-full invisible p-2 rounded-b text-xs;
    background: var(--color_bg-search);
  }
}

ul.search {
  padding-left: 0;
  list-style: none;

  li {
    @apply ml-0 mt-3 pb-3 border-b border-b-slate-500/20;

    > a {
      // This is the document that this came from
      @apply text-lg;
    }
  }
}

#search-results {
  @apply mt-10;
}

/* Need the #search-results for specificity. */
#search-results p.context {
  @apply mb-1 mt-0 text-xs;
}

/* Highlighted by links in search page */
[role="main"] .highlighted {
  background-color: var(--color_bg-highlighted);
  color: var(--color_text-highlighted);
}

/* Header search */
.header-search-icon {
  &::before {
    @apply block h-5 w-5;
    content: "";
    background-color: var(--color_text);
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z'/%3E%3C/svg%3E");
    mask-repeat: no-repeat;
    z-index: 3;
  }
}

#lutra-header-search-form {
  display: none;
}
#lutra-header-search-form.active {
  @apply rounded shadow-xl;
  @apply block fixed top-1/3 left-1/2;
  z-index: 110;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 46rem;

  + #lutra-header-search-overlay {
    @apply fixed w-full h-full top-0 left-0;
    z-index: 100;
    background: var(--color_bg-search_overlay);
  }
}
