<div class="lutra-hero">
  <div class="sb-page-width">
    <div class="prose">
      <h1>Hi!</h1>
      <p>This is a hero injected right above the main index page's contents.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, quis? Minima, incidunt enim et consequatur
        quaerat temporibus soluta reiciendis, est odio possimus excepturi error aliquam accusantium expedita a? Dolorum,
        sit.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, quis? Minima, incidunt enim et consequatur
        quaerat temporibus soluta reiciendis, est odio possimus excepturi error aliquam accusantium expedita a? Dolorum,
        sit.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, quis? Minima, incidunt enim et consequatur
        quaerat temporibus soluta reiciendis, est odio possimus excepturi error aliquam accusantium expedita a? Dolorum,
        sit.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, quis? Minima, incidunt enim et consequatur
        quaerat temporibus soluta reiciendis, est odio possimus excepturi error aliquam accusantium expedita a? Dolorum,
        sit.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, quis? Minima, incidunt enim et consequatur
        quaerat temporibus soluta reiciendis, est odio possimus excepturi error aliquam accusantium expedita a? Dolorum,
        sit.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, quis? Minima, incidunt enim et consequatur
        quaerat temporibus soluta reiciendis, est odio possimus excepturi error aliquam accusantium expedita a? Dolorum,
        sit.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, quis? Minima, incidunt enim et consequatur
        quaerat temporibus soluta reiciendis, est odio possimus excepturi error aliquam accusantium expedita a? Dolorum,
        sit.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, quis? Minima, incidunt enim et consequatur
        quaerat temporibus soluta reiciendis, est odio possimus excepturi error aliquam accusantium expedita a? Dolorum,
        sit.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, quis? Minima, incidunt enim et consequatur
        quaerat temporibus soluta reiciendis, est odio possimus excepturi error aliquam accusantium expedita a? Dolorum,
        sit.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, quis? Minima, incidunt enim et consequatur
        quaerat temporibus soluta reiciendis, est odio possimus excepturi error aliquam accusantium expedita a? Dolorum,
        sit.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, quis? Minima, incidunt enim et consequatur
        quaerat temporibus soluta reiciendis, est odio possimus excepturi error aliquam accusantium expedita a? Dolorum,
        sit.</p>
    </div>
  </div>
</div>
